@media screen and (min-width: 0px) and (max-width: 400px) {
    .xxx {
        background: darkcyan;
    }

    .a {
        width: 400px;
        background: darkred;
    }

    .b {
        width: 300px;
        background: violet;
    }

    .c {
        width: 100px;
        background: forestgreen;
    }
}

.width1600 {
    width: 1600px;
}

.height600 {
    height: 600px;
}

.xxx {
    background: blueviolet;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
}

.a {
    background: deeppink;
    align-self: flex-start;
}

.b {
    width: 1300px;
    background: springgreen;
}

.c {
    width: 300px;
    background: coral;
}