.header {
    width: 1920px;
    height: 36px;
    left: 0px;
    top: 0px;
    background: #0F2438;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.header div {
    color: #ffffff;
    cursor: pointer;
}
.neheader {
    width: 1920px;
    height: 196px;
    left: 0px;
    top: 36px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.catalog {
    color: white;
    width: 164px;
    height: 53px;
    background: #005BB9;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#searchlnput {
    width: 549px;
    height: 53px;
    left: 477px;
    top: 159px;
    background: #F4F5FA;
    border-radius: 6px 0px 0px 6px;
}
#searchButton {
    width: 101px;
    height: 53px;
    left: 1025px;
    top: 159px;
    background: #005BB9;
    border-radius: 0px 6px 6px 0px;
}
#searchContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}
#searchButto {
    width: 160px;
    height: 49px;
    left: 428px;
    top: 515px;
    background: #005BB9;
    border-radius: 6px;
}
.buyButton{
width: 57px;
height: 49px;
left: 1565px;
top: 383px;
background: #005BB9;
border-radius: 6px;
}