    #header{
        background: blueviolet;
        height: 50px;
        width: 100%;
    }
    #menu{
        background: darkcyan;
        width: 600px;
        height: 750px;
        margin-top: 10px;
    }
    .post{
        background: coral;
        width: 1300px;
        height: 330px;
        margin: 20px;
    }
    .posts {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .body {
        display: flex;
        flex-direction: row;
        justify-content: start;
    }
    #footer{
        margin-top: 10px;
        height: 70px;
        background: springgreen;
    }